.titulo-nav{
    font-size: 30px;
    text-align: start;
  }
  
  .header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .talles{
      align-items: center;
    width: 50rem;
    height: 5rem;
  }
  